
*{
  
  padding: 0;
  margin: 0;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.card{
  background-color: hsl(216, 50%, 16%);
  width: 300px;
  padding: 1.5rem;
  border-radius: 1rem;

}

img.card-image{
    width: 300px;
    border-radius: .5rem;
}

h1{
    color: hsl(0, 0%, 100%);
    text-align: left;
    font-size: 24px;
    padding-top: 1rem;
    font-weight: 400;
}

p{
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    line-height: 2rem;
    font-weight: 400;
 
}

.stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.amount{
    color: hsl(178, 100%, 50%);
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
}

.creator{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: fit-content;
    align-items: center;
    justify-items: start;
    padding-top: 1rem;
}

.creator img{
    width: 40px;

}

.creator img:hover{
    border: 1px solid white;
    border-radius: 2rem;
}


.days, .creator p{
    color: hsl(215, 51%, 70%);
}

a{
color: white;
text-decoration: none;
font-weight: 300;
}

p.days{
    display: grid;
    width: auto;
    grid-template-columns: 6fr 9fr;
    align-items: center;
    justify-items: end;
}
.attribution p{ font-size: 11px; text-align: center; margin: 1rem; }
.attribution a { color: hsl(228, 45%, 44%); }

.description{
    font-weight: 300;
    padding-top: 1rem;
}

hr{
    opacity: 20%;
    border-top: 1px solid  hsl(215, 32%, 27%);;
}
